.header {
	margin-top: 1em;
    margin-bottom : 1em;
}

.body {
	padding : 1em;
	color : #343434;
	background-color : white;
}
.body .title {
    font-size: 1.7em;
    font-weight: 200;
}

.dropdown {
	background-color : transparent;
}
.dropdown:hover {
    background-color : transparent;
}

.headershare {
    font-family : Helvetica, Arial, sans-serif;
    background-color : rgba(0,204,255, 0.5);
    padding : 1em;
}
.headershare .title {
	font-size : 2em;
    opacity : 1;
	color : white;
    margin-right : 0.5em;
}
.headershare .sharebutton {
    background-color : #0099ff;
    padding-left : 1em;
    padding-right : 1em;
    padding-top : 0.5em;
    padding-bottom : 0.5em;
    margin-right : 1em;
}
.headershare .sharebutton a:link {
	text-decoration : none;
    color : white;
}
.headershare .sharebutton a:visited {
    text-decoration : none;
	color : white;
}
.headershare .sharebutton a:hover {
    text-decoration : none;
    color : white;
}
.headershare .sharebutton a:active {
    text-decoration : none;
    color : white;
}

.row {
	min-width:100% !important;
}
.tabs {
	margin-top : 6em;
}
.tabs dd > a, .tabs .tab-title > a {
    background-color : #0099ff;
	color : white;
}
.tabs dd.active a, .tabs .tab-title.active a {
    background-color : white;
    color : #0099ff;
}
.tabs dd > a:hover, .tabs .tab-title > a:hover {
    background-color: #00ccff; 
}
.tabs dd.active > a:hover, .tabs .tab-title.active > a:hover {
    background-color: white; 
}
.tabs-content {
    background-color : white;
}

.main {
	background-color : white;
    padding : 1em;
}

.communityFlag {
    float : right;
}


.name {
	float : left;
}
.logout {
    float : right;
}

.caption {
    font-size : 150%;
    font-weight : bold;

}
.order {
    margin-left : 5em;
}

.proposition {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
	background-color : #F9F9F9;
	padding-bottom: 0em;
}
.creator{
	font-size : 0.75em;
	color : #858585;
}
.creator > a {
	color : #858585;
}
.proposition .icons {
	float : right;
}
.proposition .title{
    font-size : 1.5em;
}
.proposition .summary{
	font-size : 1em;
    height : 4.5em;
    min-height : 4.5em;
    overflow : hidden;
}
.proposition .button{
	height : 2em;
	line-height : 0.25em;
}
.proposition .status {
    padding-top : 0.5em;
}
.proposition .tags {
	padding-top : 1em;
}
.proposition .tags .tag {
    padding-right : 1em;
}
.proposition .status {
    color : #858585;
}

.progress{
    padding-bottom : 0em;
    margin-bottom : 0em;
    height : 0.5em;
    max-height : 0.5em;
}
.progressText{
    font-size : 0.75em;
    color : #858585;
    padding-top : 0em;
    margin-top : 0em;
}

.category {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color : #F9F9F9;
    padding : 1em;
    margin : 1em;
}

.loginOption {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color : #F3F3F3;
    padding : 1em;
    margin : 1em;
}

.comments .title{
	font-size : 1.2em;
	font-weight : 500;
}
.commentSum{
    font-size : 0.75em;
    margin-top : 0.75em;
    color : #858585;
}

.icons {
	color : #858585;
}
.icons .icon {
	margin-left : 2em;
	margin-right : 0.5em;
}

.voting .button {
	width : 100%;
}
.voting .favor {
	background-color : #2EB82E;
}
.voting .against {
	background-color : #FF1919;
}

.votes {
    font-size : 0.45em;
    float : left;
    margin-right : 1em;
}

.official {
    font-size : 1.35em;
    color : red;
    margin-left : 1em;
}

.commentvotes {
    margin-left : 8em;
}

.commentvotes .voteIcon {
	margin-right : 1em;
}

.voted {
    background-color: lightgreen;
}
.othervoted {
}

.comment {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;    
}

.commentSum {
    visibility: hidden;   
}

.comment:hover .commentSum {
	visibility: visible;
}

.richinputdiv {
	width: 100%;
	height: 7em;
}

.subcomments {
	display : none;
}

.icon {
	width: 1em;
	height: auto;
}

#add_title, #add_body, #add_tags, .select2-container-multi .select2-choices {  
    font-family: Arial, sans-serif;
    font-size: 100%;
    width: 40em;
}

.IdPhoto {
    float : right;
    width : 1.5em;
    height : 1.5em;
    border-radius : 50%;
    overflow : hidden;
}
.CreatorPhoto {
    width : 1.5em;
    height : 1.5em;
    border-radius : 50%;
    overflow : hidden;
    float : left;
}