body {
	margin-left : 2em;
    margin-right : 2em;
}

.title {
	font-size : 100px;
	color : black;
	text-decoration : none;
}

.communityFlag {
    float : right;
}


.name {
	float : left;
}
.logout {
    float : right;
}

.caption {
    font-size : 150%;
    font-weight : bold;

}
.order {
    margin-left : 5em;
}

.sidebar {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid;
    
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color : LightGray;
}

.proposition {
    font-size : 1.5em;
    clear : both;
    margin-top : 1.5em;
}

.votes {
    font-size : 0.45em;
    float : left;
    margin-right : 1em;
}

.proptitle {
	float : left;
    line-height : 0.85em;
}

.creator {
    font-size : 0.45em;
}

.voted {
    background-color: lightgreen;
}
.othervoted {
}

.comment {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    
}

.subcomments {
	display : none;
}

.expand {
	width: 1em;
	height: auto;
}

#add_title, #add_body, #add_tags, .select2-container-multi .select2-choices {  
    font-family: Arial, sans-serif;
    font-size: 100%;
    width: 40em;
}


.IdPhoto {
    float : right;
}