<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
 <link rel="stylesheet" type="text/css" href="/grid.css" />
 <link rel="stylesheet" type="text/css" href="/beforum.css" />

 <!-- Include jQuery and jQuery UI -->
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 
 <!-- Include Select2 skin and library -->
 <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.1/select2.css" rel="stylesheet"/>
 <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.1/select2.js"></script>
 
 <!-- SCEditor -->
 <link rel="stylesheet" href="/sceditor/minified/themes/default.min.css" type="text/css" media="all" />
 <script type="text/javascript" src="/sceditor/minified/jquery.sceditor.bbcode.min.js"></script>
 <script type="text/javascript">
        $(document).ready(function () { $(".richinput").sceditor({
        	plugins:"bbcode",
        	style:"/sceditor/minified/jquery.sceditor.default.min.css",
        	toolbar:"bold,italic,underline,size,color,image,emoticon",
        	emoticonsRoot:"/sceditor/"}); });
 </script>
    
 <title>burgerForum</title>
</head>

<body>

<div th:fragment="header">
 <div class="section group">
  <div class="col span_2_of_3">
	<a href="/">
	  <img src="/skyline.png" width="300px" height="100px"/>
	  <span class="title">beForum</span>
	  <img th:if="${user}" class="communityFlag" th:src="'/flags/'+${user.getMainZip()}+'.png'" width="100px" height="100px"/>
	</a>
  </div>
  <div th:if="${user}" class="col span_1_of_3">
   <a class="name" th:href="'/moreinfo/'+${user.get_id()}" th:text="${user.getIdentity().getFirstName()}+' '+${user.getIdentity().getName()}">anoniemeling</a>
   <span class="official" th:if="${user.official}" th:text="${user.official}">Official</span>
   <a class="logout" href="/logout">uitloggen</a>
  </div>
 </div>
</div>

<div th:fragment="sidebar" class="sidebar">
  <h3>Wat is dit?</h3>
  <h3>Waarvoor dient het?</h3>
  <h3>Hoe gebruik ik dit?</h3>
  <h3>OPGELET: je stemt hier NIET anoniem!</h3>
  <h3>Blablabla</h3>
</div>

</body>
</html>