<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
 <link rel="stylesheet" type="text/css" href="/grid.css" />
 <link rel="stylesheet" type="text/css" href="/beforum.css" />
 <title>burgerForum</title>
</head>

<body>

<div th:fragment="header">
 <div class="section group">
  <div class="col span_2_of_3">
	<a href="/">
	  <img src="/skyline.png" width="300px" height="100px"/>
	  <span class="title">beForum</span>
	  <img th:if="${user}" class="communityFlag" th:src="'/flags/'+${user.getMainZip()}+'.png'" width="100px" height="100px"/>
	</a>
  </div>
  <div th:if="${user}" class="col span_1_of_3">
   <a class="name" th:href="'/moreinfo/'+${user.get_id()}" th:text="${user.getIdentity().getFirstName()}+' '+${user.getIdentity().getName()}">anoniemeling</a>
   <a class="logout" href="/logout">uitloggen</a>
  </div>
 </div>
</div>

<div th:fragment="sidebar" class="sidebar">
  <h3>Wat is dit?</h3>
  <h3>Waarvoor dient het?</h3>
  <h3>Hoe gebruik ik dit?</h3>
  <h3>OPGELET: je stemt hier NIET anoniem!</h3>
  <h3>Blablabla</h3>
</div>

</body>
</html>