<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
 <meta charset="utf-8" />
 <link rel="stylesheet" href="/foundation-5.5.0/css/foundation.css" />
 <link rel="stylesheet" type="text/css" href="/beforum.css" />
 <link rel="stylesheet" type="text/css" href="/town/9120.css" />
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />

 <!-- Include jQuery and jQuery UI -->
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

 <script src="/foundation-5.5.0/js/vendor/modernizr.js"></script>
 <script src="/foundation-5.5.0/js/foundation.min.js"></script>
 
 <!-- Include Select2 skin and library -->
 <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.1/select2.css" rel="stylesheet"/>
 <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.1/select2.js"></script>
 
 <!-- SCEditor -->
 <link rel="stylesheet" href="/sceditor/minified/themes/default.min.css" type="text/css" media="all" />
 <script type="text/javascript" src="/sceditor/minified/jquery.sceditor.bbcode.min.js"></script>
 <script type="text/javascript">
        $(document).ready(function () { $(".richinput").sceditor({
        	plugins:"bbcode",
        	style:"/sceditor/minified/jquery.sceditor.default.min.css",
        	width:"98%",
        	height:"98%",
        	toolbar:"bold,italic,underline,size,color,image,emoticon",
        	emoticonsRoot:"/sceditor/"}); });
 </script>

 <title>burgerForum</title>
</head>

<body>

<div th:fragment="header">
  <div class="row header">
   <div class="small-11 columns">
   </div>
   <div th:if="${user}" class="small-1 columns">
    <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">
     <img th:src="'/photo/'+${user.get_id()}" class="IdPhoto"/>
    </button><br/>
    <ul id="drop1" data-dropdown-content="" class="f-dropdown" aria-hidden="true" tabindex="-1">
     <li><a th:href="'/moreinfo/'+${user.get_id()}">Profiel</a></li>
     <li><a href="/logout">Uitloggen</a></li>
    </ul>
   </div>
  </div>
  
  <div class="row">
   <div class="small-6 columns right headershare">
    <div class="row">
     <div class="right title">
      Zin om mee te werken?
     </div>
    </div>
    <div class="row">
     <div class="right sharebutton">
      <a href="/addproposition">Deel je idee</a>
     </div>
    </div>
   </div>
  </div>
</div>

<div th:fragment="sidebar" class="sidebar">
  <h3>Recente acties</h3>
</div>

</body>
</html>