<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>

<body>
<div th:replace="fragments/header :: header"></div>

<span class="caption" th:text="'Nieuw voorstel '+${user.mainCity}">Nieuw voorstel</span>

<div class="section group">
  <div class="col span_2_of_3">
	<form method="POST">
	<div>
	<span>Titel</span>
	<div>
	<input id="add_title" type="text" name="title"/>
	</div>
	</div>
	<div>
	<span>Beschrijving</span>
	<div>
	<textarea id="add_body" name="text" maxlength="1000" cols="25" rows="10"></textarea>
	</div>
	</div>
	<div>
    <span>Tags</span>
    <div>
     <input id="add_tags" name="tags" type="hidden"></input>
     <script th:inline="javascript">
       $("#add_tags").select2({
         placeholder: "Kies tags",
         allowClear: true,
         multiple: true,
         //Allow manually entered text in drop down. 
         createSearchChoice:function(term, data) { 
           if ( $(data).filter( function() { 
             return this.text.localeCompare(term)===0; 
           }).length===0) { 
             return {id:'+'+term, text:term}; 
           } 
         }, 
         data: [[${tagList}]]
       });
     </script>
    </div>
    </div>
    <br/>
	<input type="submit" value="indienen"/>
	</form>
  </div>

  <div class="col span_1_of_3">
    <div th:replace="fragments/header :: sidebar"></div>
  </div>
</div>
</body>
</html>
