<!DOCTYPE html>
<html>
<head>
<title>burgerForum</title>
</head>
<body>
<p>Welkom op burgerForum, <span th:text="${identity.getFirstName()}+' '+${identity.getName()}">anoniemeling</span>!</p>
<span th:text="'Lid sinds '+${#dates.format(user.getFirstLogin())}">Lid sinds ?</span>
<p>De gegevens voor gemeente <span th:text="${address.getMunicipality()}">onbekend</span> worden geladen...</p>
<a href="logout">log out</a>
<a href="moreinfo">more info</a>
<a href="addproposition">nieuw voorstel</a>
<div class="propositions" th:each="prop : ${propositions}">
 <div class="proposition">
  <span th:id="'votes'" th:text="${prop.votes}">Stemmen</span>
  <a th:href="'/proposition/'+${prop._id}"><span th:text="${prop.title}">Titel</span></a>
  <span th:text="'('+${prop.creator.firstName}+' '+${prop.creator.lastName}+')'"></span>
 </div>
</div>
</body>
</html>
