<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>

<script type="text/javascript">
//<![CDATA[
  function addGetParameter (paramName, paramValue) {
	var url = window.location.href;
	if (url.indexOf(paramName + "=") >= 0)
	{
	    var prefix = url.substring(0, url.indexOf(paramName));
	    var suffix = url.substring(url.indexOf(paramName));
	    suffix = suffix.substring(suffix.indexOf("=") + 1);
	    suffix = (suffix.indexOf("&") >= 0) ? suffix.substring(suffix.indexOf("&")) : "";
	    url = prefix + paramName + "=" + paramValue + suffix;
	}
	else
	{
	if (url.indexOf("?") < 0)
	    url += "?" + paramName + "=" + paramValue;
	else
	    url += "&" + paramName + "=" + paramValue;
	}
	window.location.href = url;
  }
  
  function setOrder (order) {
    addGetParameter ("order", order);
  }
//]]>
</script>

<div th:replace="fragments/header :: header"></div>

  <div class="row">
    <dl class="tabs" data-tab="">
     <dd class="active"><a href="#panel1">IDEEËN</a></dd>
     <dd><a href="#panel3">CATEGORIEËN</a></dd>
     <dd><a href="#panel4">CROWDFUNDING</a></dd>
     <dd><a href="#panel5">HOE WERKT HET?</a></dd>
    </dl>
    <div class="tabs-content">
     <div class="content active" id="panel1">
      <div class="body">
       <div class="row collapse">
        <form name="opties">
         <div class="small-4 columns">
          <div class="small-4 columns">
           <label for="select_filter" class="inline">Toon me</label>
          </div>
          <div class="small-8 columns">
           <select id="select_filter" onchange="location = '/?tag='+this.options[this.selectedIndex].value">
            <option value="">alle</option>
            <option value="">op agenda</option>
            <option value="">geplande</option>
            <option value="">uitgevoerde</option>
            <option value="">geweigerde</option>
           </select>
          </div>
         </div>         
         <div class="small-4 columns">
          <div class="small-4 columns">
           <label for="select_category" class="inline">idee&euml;n over</label>
          </div>
          <div class="small-8 columns">
           <select id="select_category" onchange="location = '/?tag='+this.options[this.selectedIndex].value">
            <option value="">alles</option>
            <option th:each="tag : ${tagList}" th:text="${tag.text}" th:value="${tag._id}" th:selected="${tag._id.equals(currentTag)}" />
           </select>
          </div>
         </div>
         <div class="small-4 columns">
          <div class="small-4 columns">
           <label for="select_category" class="inline">gesorteerd op</label>
          </div>
          <div class="small-8 columns">          
           <select onchange="setOrder(this.options[this.selectedIndex].value)">
            <option value="time">datum</option>
            <option value="popularity" th:selected="${order.equals('popularity')}">populariteit</option>
            <option value="controversial" th:selected="${order.equals('controversial')}">aandacht</option>
           </select>
          </div>
         </div>
        </form>
        <div class="small-3 columns">
        </div>
       </div>
	   <div class="row collapse" th:each="prop : ${propositions}">
	     <div class="panel proposition">
	      <div class="row">
	      <img th:src="'/photo/'+${prop.creator.id}" class="CreatorPhoto"/>
          <div class="small-11 columns">
	       <div class="row creator">
	        <a th:href="'/moreinfo/'+${prop.creator.id}" th:text="${prop.creator.firstName}+' '+${prop.creator.lastName}">creator</a>
	        deed volgende suggestie op 
	        <span th:text="${#calendars.format(prop.created,'dd/MM/yyyy')}"></span>
	        om <span th:text="${#calendars.format(prop.created,'HH:mm')}"></span>
	        <span class="icons">
	         <span class="icon"><i class="fa fa-comments-o fa-1x"></i></span><span th:text="${prop.comments}"></span>
             <span class="icon"><i class="fa fa-thumbs-o-up fa-1x"></i></span><span th:text="${prop.votesFavor}"></span>
             <span class="icon"><i class="fa fa-thumbs-o-down fa-1x"></i></span><span th:text="${prop.votesAgainst}"></span>
	        </span>
           </div>
           <div class="row title">
	       <a th:href="'/proposition/'+${prop._id}"><span th:utext="${prop.getTitle()}">Titel</span></a><br/>
           </div>
           <div class="row summary" th:utext="${prop.text}">
           </div>
           <div class="row status" th:if="${prop.votesFavor} - ${prop.votesAgainst} &lt; 5">
           <div class="progress">
             <span class="meter" th:style="'width: '+((${prop.votesFavor} - ${prop.votesAgainst})*100/5)+'%'"></span>
           </div>
           <span class="progressText">
           Nog <span th:text="5 - (${prop.votesFavor} - ${prop.votesAgainst})"></span> voorstanders nodig om het op de gemeenteraad te brengen
           </span>
           </div>
           <div class="row tags">
             <a class="tag" th:each="tag : ${prop.tags}" th:href="'/?tag='+${tag}" th:utext="'&lt;i class=&quot;fa fa-tag fa1x&quot;&gt;&lt;/i&gt; '+${tagMap.get(tag)}">1 tag</a>
             <a th:href="'/proposition/'+${prop._id}" class="button right">Lees meer</a>
           </div>
          </div>
          </div>
	     </div>
	   </div>
	  </div>
     </div>
     <div class="content" id="panel2">
      <div class="body">
       <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
      </div>
     </div>
     <div class="content" id="panel3">
      <div class="body">
       <div class="row collapse title">
         Categorieen
       </div>
       <div class="row collapse">
         <ul class="small-block-grid-3">
           <li th:each="tag : ${tagMap}">
            <div class="row category">
             <div class="small-3 columns">
                <img src="/sceditor/emoticons/alien.png" width="100%" height="100%"/>
             </div>
             <div class="small-9 columns">
              <div class="row">
                <span th:text="${tag.value}">tag</span>
              </div>
              <div class="row">
                <a th:href="'/?tag='+${tag.key}" th:text="${tagGroupMap.get(tag.key)}? ${tagGroupMap.get(tag.key)}+' idee&euml;n' : 'geen idee&euml;n'">aantal ideeen</a>
              </div>
             </div>
            </div>
           </li>
         </ul>
       </div>
      </div>
     </div>
     <div class="content" id="panel4">
      <div class="body">
       <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
      </div>
     </div>
     <div class="content" id="panel5">
      <div class="body">
       <p>Hier komt dan de uitleg van hoe alles precies werkt.</p>
       <p>Uiteraard stel ik dat nog even uit... :)</p>
      </div>
     </div>
    </div>
  </div>
  
  <script>
  $(document).foundation();
  </script>
</body>
</html>
