<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head" />
<body>
<div th:replace="fragments/header :: header" />

<span class="caption" th:text="'Voorstellen '+${user.mainCity}">Voorstellen gemeente</span>
<span class="order">
Toon eerst 
<select>
  <option value="time">recentste</option>
  <option value="popularity">populairste</option>
  <option value="controversial">opvallendste</option>
</select>
</span>

<div class="section group">
  <div class="col span_2_of_3">
	<a href="addproposition">nieuw voorstel</a>
	<div class="propositions" th:each="prop : ${propositions}">
	 <div class="proposition">
	  <span th:id="'votes'" th:text="${prop.votesFavor}+' voor'">voor</span>
      <span th:id="'votes'" th:text="${prop.votesAgainst}+' tegen'">tegen</span>
	  <a th:href="'/proposition/'+${prop._id}"><span th:text="${prop.title}">Titel</span></a>
	  <span th:text="'('+${prop.creator.firstName}+' '+${prop.creator.lastName}+')'"></span>
	 </div>
	</div>
  </div>

  <div class="col span_1_of_3">
    <div th:replace="fragments/header :: sidebar" />
  </div>
</div>
</body>
</html>
