<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<span class="caption" th:text="${author.getIdentity().getFirstName()}+' '+${author.getIdentity().getName()}">Naam</span>

<div class="section group">
  <div class="col span_2_of_3">
    <img th:src="'/photo/'+${author.get_id()}" class="IdPhoto"/>
    Actief sinds <span th:text="${#calendars.format(author.getFirstLogin(),'dd MMMM yyyy')}"></span>
    <br/>
    Gebruikte tags
    <div>
    Misbruik
    <br/>
    Gemeld misbruik
    </div>
  </div>

  <div class="col span_1_of_3">
    <div th:replace="fragments/header :: sidebar"></div>
  </div>
</div>
</body>
</html>
