<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<br/>
<br/>
<div class="row collapse">
  <div class="body">
    <div class="row">
		<span class="caption" th:text="${author.getIdentity().getFirstName()}+' '+${author.getIdentity().getName()}">Naam</span>
		<div class="row">
		    <img th:src="'/photo/'+${author.get_id()}" />
		</div>
        <div class="row">
		    Actief sinds <span th:text="${#calendars.format(author.getFirstLogin(),'dd MMMM yyyy')}"></span>
		    <br/>
		    Gebruikte tags
		</div>
	</div>
  </div>
</div>
</body>
</html>
