<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>


  <div class="row">
    <dl class="tabs" data-tab="">
     <dd class="active"><a href="#panel1">INLOGGEN</a></dd>
     <dd><a href="#panel2">HOE WERKT HET?</a></dd>
    </dl>
    <div class="tabs-content">
     <div class="content active" id="panel1">
      <div class="body">
        <div class="loginOption">
	    Als je al een account hebt kun je aanmelden door je e-mail en wachtwoord in te vullen, of door je eID nu in te steken
	    <br/>
	    <form method="POST">
	     <input type="text" name="email" placeholder="e-mail"/>
	     <input type="password" name="password" placeholder="wachtwoord"/>
	     <input type="submit" value="aanmelden"/>
	    </form>
	    </div>
	    <div class="loginOption">
	      Als je nog geen account hebt kun je er een aanmaken door je eID nu in te steken.
	      <div>
	      <script src="https://www.java.com/js/deployJava.js"></script>
	      <script th:inline="javascript">
	            var attributes = {
	                code :'be.fedict.eid.applet.Applet.class',
	                archive :'eid-applet-package-1.1.3.jar',
	                width :400,
	                height :100
	            };
	            var parameters = {
	                TargetPage :'login?identified=1',
	                AppletService : 'applet-service;jsessionid='+/*[[${sessionId}]]*/,
	                BackgroundColor : '#F3F3F3',
	                Language : 'nl'
	            };
	            var version = '1.6';
	            deployJava.runApplet(attributes, parameters, version);
	      </script>
	      </div>
        </div>
	  </div>
     </div>
     <div class="content" id="panel2">
      <div class="body">
       <p>Hier moet nog een hele uitleg komen.</p>
       <p>Maar dat is iets voor op het einde uiteraard :)</p>
      </div>
     </div>
    </div>
  </div>

<script>
  $(document).foundation();
</script>

</body>
</html>
