<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>


  <div class="row">
    <dl class="tabs" data-tab="">
     <dd class="active"><a href="#panel1">INLOGGEN</a></dd>
     <dd><a href="#panel2">HOE WERKT HET?</a></dd>
    </dl>
    <div class="tabs-content">
     <div class="content active" id="panel1">
      <div class="body">
	    Inloggen met eID
	    <script src="https://www.java.com/js/deployJava.js"></script>
	    <script th:inline="javascript">
	            var attributes = {
	                code :'be.fedict.eid.applet.Applet.class',
	                archive :'eid-applet-package-1.1.3.jar',
	                width :400,
	                height :300
	            };
	            var parameters = {
	                TargetPage :'identified',
	                AppletService : 'applet-service;jsessionid='+/*[[${sessionId}]]*/,
	                BackgroundColor : '#ffffff',
	                Language : 'nl'
	            };
	            var version = '1.6';
	            deployJava.runApplet(attributes, parameters, version);
	    </script>
	  </div>
     </div>
     <div class="content" id="panel2">
      <div class="body">
       <p>Hier moet nog een hele uitleg komen.</p>
       <p>Maar dat is iets voor op het einde uiteraard :)</p>
      </div>
     </div>
    </div>
  </div>

<script>
  $(document).foundation();
</script>

</body>
</html>
