<!DOCTYPE html>
<html>
<head>
    <title>burgerForum</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://www.java.com/js/deployJava.js"></script>
    <script th:inline="javascript">
            var attributes = {
                code :'be.fedict.eid.applet.Applet.class',
                archive :'eid-applet-package-1.0.4.GA.jar',
                width :400,
                height :300
            };
            var parameters = {
                TargetPage :'identified',
                AppletService : 'applet-service;jsessionid='+/*[[${sessionId}]]*/,
                BackgroundColor : '#ffffff'
            };
            var version = '1.6';
            deployJava.runApplet(attributes, parameters, version);
    </script>
</head>
<body>
    <h1>Welkom op burgerForum</h1>
    <p>Voordat je kunt deelnemen, gelieve eerst je pas te gebruiken om in te loggen</p>
</body>
</html>
