<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
$.ajaxSetup ({
    cache: false
});

function vote(id,direction) {
    jQuery.get('vote', 
                {id: id, direction: direction}, 
                function(data) { $("#votes").text(data); });
}
</script>

<div class="section group">
  <div class="col span_2_of_3">
    <span class="caption" th:text="${proposition.title}">Voorstel</span><br/>
    <span th:text="${#calendars.format(proposition.created,'dd/MM/yy')}+' ingediend door '"></span><a th:href="'/moreinfo/'+${proposition.creator.id}" th:text="${proposition.creator.firstName}+' '+${proposition.creator.lastName}">creator</a>
 </div>
 <div class="col span_1_of_3">
 </div>
</div>

<div class="section group">
  <div class="col span_2_of_3">
    <div th:text="${proposition.text}">Inhoud</div>
	<form method="post">
	 <input type="submit" name="favor" value="Voor" th:disabled="${vote gt 0}" th:class="${vote gt 0}? 'voted' : 'othervoted'"/>
	 <input type="submit" name="against" value="Tegen" th:disabled="${vote lt 0}" th:class="${vote lt 0}? 'voted' : 'othervoted'"/>
	 <textarea name="comment_text" rows="4" cols="50"></textarea>
     <input type="submit" name="comment" value="toevoegen" />
	</form>
	<br/>
	<h3>Commentaren</h3>
	<div id="comments_tree"></div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.6/jstree.min.js" type="text/javascript"></script>
    <script type="text/javascript" th:inline="javascript">
    $('#comments_tree').jstree({
        "plugins" : ["wholerow"],
        'core' : {
            'data' : {
                'url' : function( node ){
                    // lets figure out the url - this function needs to
                    // return the formed URL. If "node" is "-1" then
                    // this is the top of the hierarchy and there's no parent
                    // key. Otherwise, node is a jquery object of
                    // the respective node from which we can fish out the
                    // metadata needed. (added below at "metadata" : op )
                    if( node.id === "#" ){
                      return "/comments/1/"+[[${proposition._id}]];
                    } else {
                      return "/comments/0/"+node.id;
                    }
                  },
                'data' : function(node) {
                    return {
                        'id' : node.id
                    };
                }
            },
        }
    });
    </script>
  </div>
  
  <div class="col span_1_of_3">
    <div th:replace="fragments/header :: sidebar"></div>
  </div>
</div>

</body>
</html>
