<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
$.ajaxSetup ({
    cache: false
});

function vote(id,direction) {
    jQuery.get('vote', 
                {id: id, direction: direction}, 
                function(data) { $("#votes").text(data); });
}
</script>

<span class="caption" th:text="${proposition.title}">Voorstel</span><br/>
<span th:text="${#calendars.format(proposition.created,'dd/MM/yy')}+' ingediend door '"></span><a th:href="'/moreinfo/'+${proposition.creator.id}" th:text="${proposition.creator.firstName}+' '+${proposition.creator.lastName}">creator</a>

<div class="section group">
  <div class="col span_2_of_3">
    <div th:text="${proposition.text}">Inhoud</div>
	<form method="post">
	<input type="submit" name="favor" value="Voor" th:disabled="${vote gt 0}" th:class="${vote gt 0}? 'voted' : 'othervoted'"/>
	<input type="submit" name="against" value="Tegen" th:disabled="${vote lt 0}" th:class="${vote lt 0}? 'voted' : 'othervoted'"/>
	</form>
  </div>

  <div class="col span_1_of_3">
    <div th:replace="fragments/header :: sidebar"></div>
  </div>
</div>

</body>
</html>
